@charset "utf-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
}

header {
  padding: 200px 0;
  background-image: linear-gradient(-135deg, #4568dc, rgb(185, 75, 136));
}

header h1 {
  text-align: center;
  font-size: 45px;
  color: #fff;
}
main {
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 0 20px;
}
main section h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 15px;
  border-radius: 15px;
  background-color: #eee;
  margin-top: 50px;
}

main section img {
  width: 100%;
  margin-top: 20px;
}

main section p {
  font-size: 18px;
  margin-top: 20px;
  line-height: 2;
}

main .message {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 30px;
  background-color: #eee;
  box-shadow: 0 0 25px 5px grey;
}
main .message .texts {
  width: 45%;
}

main .message .texts p {
  line-height: 2;
  font-size: 18px;
  font-weight: bold;
}

main .message .texts a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto 0;
  background-color: #fd9535;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  width: 250px;
  height: 43px;
  border-radius: 10px;
  border-bottom: 1px solid #984a02;
  box-shadow: rgb(185, 75, 136);
  transition: 0.1s;
}

main .message .texts a:hover {
  box-shadow: none;
  border: none;
  transform: translateY(3px);
}
main .message > img {
  width: 52%;
}

@media screen and (max-width: 768px) {
  header {
    padding: 80px 0;
  }
  header h1 {
    font-size: 30px;
    padding: 0 10px;
    font-weight: bold;
    line-height: 1.4;
  }
  main section h2 {
    font-size: 22px;
    margin-top: 15px;
  }
  main section p {
    font-size: 16px;
    line-height: 1.8;
  }
  main .message {
    flex-direction: column-reverse;
    box-shadow: 0 0 5px 3px #ccc;
  }
  main .message > img {
    width: 100%;
  }
  main {
    padding: 0 5%;
  }
  main .message .texts {
    width: 100%;
  }
  main .message .texts p {
    line-height: 1.6;
    margin-top: 20px;
  }
  main .message .texts a {
    width: 100%;
    font-size: 18px;
    height: 41px;
    margin-top: 15px;
  }
}
